.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  height: $carousel-height;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;

  .carousel {
    //background: #cacaca;
    box-shadow: inset 0 0 16px 0 rgba(29, 29, 29, 0.23);
    display: flex;
    width: 100%;
    height: $carousel-height;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative; // Важливо для псевдоелементів

    .carousel-inner {
      display: flex;
      flex-direction: row;
      gap: 10px;
      //padding: 0 40px; // Доданий паддінг до внутрішнього контейнера
      align-items: center;
      justify-content: start;

    }

    .carousel-item {
      flex: 0 0 auto;
      width: 100%;
      height: calc($carousel-height - 20px);
      scroll-snap-align: center; // Центрування елементу по центру
      display: flex;
      justify-content: center;
      align-items: center;

      img,
      video {
        height: calc(100% - 6px); // Чарівне число :)
        max-width: 100%;
        border-radius: 5px;
      }
    }
  }

  .carousel-button {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: $shadow-style;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    &.prev-button {
      left: 10px;
    }

    &.next-button {
      right: 10px;
    }
  }
}
